.page-no {
    color: red;
}

.page-no{
    text-decoration: none;
    font-family: 'Karla';
    font-weight: 400;
}

.active>.active-page {
    color: white;
    background-color: rgb(204, 90, 90);
    border:  rgb(204, 90, 90);
}


#page-btn:focus{
    box-shadow: none;
}